<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<head>
    <link rel="stylesheet" href="{{site.baseurl}}/css/projects.css">
</head>

<body>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <h1>Research</h1>
            {% for post in site.posts %}
                {% if post.category == 'project' and post.project_type == 'research' %}
                    <a href="{{ post.project_url }}"><img src="{{ post.img_path}}"></a>
                    <div class="project-descriptions">
                        <div class="project-title">
                            {{ post.title | escape }}
                        </div>
                        <div class="date">
                            {{ post.project_date }}
                        </div>
                        <div class="post-content">
                            {{ post.content }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <h1>Personal Projects</h1>
            {% for post in site.posts %}
                {% if post.category == 'project' and post.project_type == 'personal' %}
                    <a href="{{ post.project_url }}"><img src="{{ post.img_path}}"></a>
                    <div class="project-descriptions">
                        <div class="project-title">
                            {{ post.title | escape }}
                        </div>
                        <div class="date">
                            {{ post.project_date }}
                        </div>
                        <div class="post-content">
                            {{ post.content }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <h1>Class Projects</h1>
            {% for post in site.posts %}
                {% if post.category == 'project' and post.project_type == 'class' %}
                    <a href="{{ post.project_url }}"><img src="{{ post.img_path}}"></a>
                    <div class="project-descriptions">
                        <div class="project-title">
                            {{ post.title | escape }}
                        </div>
                        <div class="date">
                            {{ post.project_date }}
                        </div>
                        <div class="post-content">
                            {{ post.content }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>
    {% include footer.html %}
</body>
</html>
